@import url('../reset.css');
@import url('./index.css');

.descGastos{
    padding: .9rem;
    border: 1.5px solid var(--azulBajo);
    border-radius: .6rem;
}

.btnResgistroGasto{
    width: 100%;
    font-size: 1.1rem;
}

.iconoPlus{
    margin-right: .5rem;
}

.containerTable{
    margin-top: 1rem;
}

.containerTable p{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.tablaGastos{
    width: 100%;
    border-collapse: collapse;
}

.tablaGastos thead{
    background-color: #272727;
    font-size: 1.2rem;
    height: 2.5rem;
    color: var(--blancoFantasma);
}

thead th{ vertical-align: middle; }
tr{ line-height: 2; }
td{ padding: .5rem; }

th, td{ border: 1px solid #272727; }