:root{
    --paddingPadre: 1.2rem;
    --azulPrincipal: #0057FA;
    --azulMedio: #007DF9;
    --azulBajo: #0FB9F7;
    --blancoFantasma: #F8F8FA;
    --colorSettings: #e96949;
    --colorCotizaciones: #51377B;
    --colorGastos: #cb0000;
    --colorCalendario: #0EAB57;
    --colorProductos: #0578AC;
    --colorRecibos: #EAAE35;
    --colorReportes: #1977d6;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezadoHome{
    padding: var(--paddingPadre);
    background-color: var(--azulMedio);
}

.btnHome, .btnSalir{
    color: var(--blancoFantasma);
    font-size: 1rem;
    text-decoration: none;
}

.btnSalir{
    border: 3px solid var(--blancoFantasma);
    border-radius: .5rem;
    padding: .5rem;
}

/*Estilos main*/
.contenido{
    padding: var(--paddingPadre);
}

.conatainerContenido h3{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card{
    padding: var(--paddingPadre);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
}

.iconBox{
    font-size:3rem;
    justify-content: center;
}

.card h2{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
}

.card p{
    font-size: .9rem;
    line-height:1.5;
    color:#000000;
    text-align: center;
}

.piePagina{
    padding: var(--paddingPadre);
    text-align: center;
    font-size: 1.15rem;
}

.devs{
    margin-top: .5rem;
}

.devs a{
    text-decoration: none;
    font-weight: bold;
    color: var(--azulMedio);
}