@import url('./index.css');

/*Estilos main*/
.contenido{
    padding: var(--paddingPadre);
}

.containerContenido{
    padding: 0 var(--paddingPadre);
}

.containerContenido h3{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card{
    text-decoration: none;
    padding: var(--paddingPadre);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    transition: .25s ease;
}

.card:hover{
    background: color-mix(in srgb, var(--cardColor) 20%, white);
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(44,44,44,0.18);
}

.iconBox{
    font-size:3rem;
    justify-content: center;
}

.card h2{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
}

.card p{
    font-size: .9rem;
    line-height:1.5;
    color:#000000;
    text-align: center;
}

.piePagina{
    padding: var(--paddingPadre);
    text-align: center;
    font-size: 1.15rem;
}

.devs{
    margin-top: .5rem;
}

.devs a{
    text-decoration: none;
    font-weight: bold;
    color: var(--azulMedio);
}