:root{
    --paddingPadre: 1.2rem;
    --azulMedio: #007DF9;
    --blancoFantasma: #F8F8FA;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezadoHome{
    padding: var(--paddingPadre);
    background-color: var(--azulMedio);
}

.btnHome, .btnSalir{
    color: var(--blancoFantasma);
    font-size: 1rem;
    text-decoration: none;
}

.btnSalir{
    border: 3px solid var(--blancoFantasma);
    border-radius: .5rem;
    padding: .5rem;
}   

/*estilos main*/



.piePagina{
    padding: var(--paddingPadre);
    text-align: center;
    font-size: 1.15rem;
}

.devs{
    margin-top: .5rem;
}

.devs a{
    text-decoration: none;
    font-weight: bold;
    color: var(--azulMedio);
}